body {
    background-color: black;
    font-family: sans-serif;
}

.odin-recipes {
    background-color: aliceblue;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 40px;
    color: blue;    
}

.recipes {
    text-align: center;
    color: white;
}

.text {
    color: white;
}

.recipe-image {
    height: 250px;
    width: 250px;
}

.link {
    color: white;
}

#p {
    color: white;
}